<style>
{{ css }}
</style>
<div class='container-fluid'>
<div class='col-md-12 col-lg-12 col-xl-8'>
<p>{{ name }},

<p>Your Poster Order #{{ order_id }} is now completed.
<p>{{job_info }}
<p><img class='img-responsive img-thumbnail' src='{{ thumbnail }}'> 
</div>
</div>
