<style> 
{{ css }}
</style>
<div class='container-fluid'>
<div class='col-md-12 col-lg-12 col-xl-8'>
<p>New Poster Printer Order From {{ email }}
<p>{{ job_info }}
<p>To view the order: <a href='{{ order_url }}'>{{ order_url }}</a>
<p><img class='img-responsive img-thumbnail' src='{{ thumbnail }}'>
	</div>
</div>

