<style>
{{ css }}
</style>
<div class='container-fluid'>
<div class='col-md-12 col-lg-12 col-xl-8'>
<p>{{ name }},

<p>Thank you for your poster order.
<br>For regular orders, we guarantee within <strong>{{ regular_order }} business hours</strong>, excluding weekends, holidays, and breaks.
<br>For rush orders, we guarantee within <strong>{{ rush_order }} business hours</strong>, excluding weekends, holidays, and breaks.
<br>We will email you when the poster is completed printing.
<br>For your reference
<p>
{{ job_info }}
<p><img class='img-responsive img-thumbnail' src='{{ thumbnail }}'>
<p>To view the status of your order go to <a href='{{ status_url }}'>{{ status_url }}</a>
</div>
</div>

